body {
    margin: 0;
    box-sizing: border-box;
}
table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}
tr,
td {
    border: 1px solid;
}

.main-planner {
    width: 100%;
    height: 100%;
}

.planner-header {
    display: flex;

    padding-top: 65px;
    width: 100%;
    height: 300px;
}

.planner-title {
    width: 60%;
}

.planner-date {
    width: 40%;
    max-width: 500px;
    padding: 10px;
}
.planner-date p {
    border-bottom: 2px solid;
}

.large-font-style {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 5px;
}
.medium-font-style {
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.planner-body {
    display: flex;
    width: 100%;
    height: 700px;
    padding: 10px;
}

.plan {
    width: 60%;
    padding: 10px;
}
.timetable {
    width: 40%;
    max-width: 500px;
    padding: 10px;
}
.add-plan-btn {
    margin: 10px;
    float: right;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 1px 1px gray;
}
